body {
    margin: 0;
    width: 100vw;
}
.test {
    padding: 0;
    margin: 0;
    background-color: rgb(172, 172, 172);
    height: 20vh;
    list-style: none;
    font-size: 1em;

    display: flex; /* Делаем из блока флекс-контейнер */
    justify-content: center; /* Выравнивение контента по центру контейнера по горизонтали */
    align-items: center; /* Выравнивение контента по центру контейнера по вертикали */
    flex-direction: row; /* Направление блоков внутри контейнера. Row, row-reverse, column, column-reverse */
}
.test_li {
    background-color: rgb(64, 63, 63);
    color: #fff;
    padding: 1em;
    border-radius: 1em;
}
a {
    margin: 1em;
    text-decoration: none;
}